@font-face {
    font-family: 'odin-font';
    src: url(fonts/Norse-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'roboto-google';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}

:root {
    --logo-size: min(100px, 15vw);
    --r-size: 35vw;
    --btn-color: #596D48;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 98%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: roboto-google, monospace, sans-serif;
}

.left-side {
    width: var(--r-size);
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}

.odin-logo {
    font-family: odin-font;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: var(--logo-size);
    width: var(--r-size);
    top: 50vh;
    transform: translate(0, -50%);
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.468);
    padding: 20px 0;
}

.odin-logo img {
    width: var(--logo-size);
    height: var(--logo-size);
}

.img-div {
    height: 100%;
    overflow: hidden;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.credits {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}

.credits a {
    color: #fff;
}



/* Right side  */

.form-side {
    background-color: hsl(0, 0%, 98%);
    padding: 150px 0;
    flex: 1;
}

.meaningless-text {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0 36px;
    padding-bottom: 24px;
}

form section {
    background-color: #fff;
    color: rgb(63, 63, 63);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.203);
    padding: 14px 36px;
    padding-bottom: 36px;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.12rem;
}

form section h1 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 26px;
}

.form-ul {
    display: flex;
    gap: 16px 64px;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li label {
    display: flex;
    flex-direction: column;
}

label input {
    width: 240px;
    height: 24px;
    padding: 0px 4px;
    border: 1px solid #E5E7EB;
    outline-color: blue;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.9rem;
}

label input:focus {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.203);
}

.btn {
    margin: 26px 36px;
    padding: 12px 46px;
    color: white;
    background-color: var(--btn-color);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.203);
}

.have-account {
    margin: 26px 36px;
}

.have-account a {
    text-decoration: none;
    color: var(--btn-color);
    font-weight: 700;
}

/* Password styling */

.error {
    border: 1px solid hsl(0, 100%, 35%);
}